.container{
  background-color: #261132;
  width: 450px;
  min-height: 600px;
  height: min-content;
  border-radius: 15px;
  padding: 50px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

.pontuacao{
  display: flex;
  min-height: 200px;
  font-size: 24px;
  justify-content: center;
  align-items: center;
}

.infoPerguntas{
  width: 100%;
  position: relative;
}

.contagemPerguntas{
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 20px;
}

.contagemPerguntas span{
  font-size: 28px;
  margin-top: 100px;
}

.pergunta{
  margin-bottom: 12px;
}

.grupoResposta{
  display: flex;
  flex: 1 1 200px;
  justify-content: center;
  align-items: baseline;
}

.resposta{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

button{
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 20px;


  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

button:active {
  color: #000
}

button:active:after {
  background: transparent;
}

button:before {
  opacity: 1;
}

button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
